body {
    /* background-color: rgb(89, 149, 199) ; */
    background: linear-gradient(#234B9A, transparent), linear-gradient(transparent, #078);

}
.navbar {
    margin-left :-1.25rem;
    margin-top: -1.25rem;
    background-color: none;

}

h1 {
    font-size: 3.5em;
    margin: 0.325rem 0 1rem;
    color: black;
    text-align: center;
}

h2 {
    font-size: 2.4em;
    text-align: center;
    margin: 0.325rem 0 0.625rem;
    color:#222;
}

h3 {
    font-size: 2em;
    margin: 0.325rem 0 0.75rem;
    color: darkcyan;
}

p {
    margin: 0.625rem 0;
}

/* a {
    color: yellowgreen;
} */

.container {
    /* width: 900px; */
    margin: auto;
    /* background-color: #234B78; */
    padding: 1.25rem;
    /* margin-top: 0.625rem; */
}

#intro {
    margin: 1em 0;
}

.row {
    display: flex;
}

.card {
    width: 30%;
    background-color: #EEE;
    border: none;
}

/* .row > .col {
    flex: 1;
} */

.question {
    margin: 0.625rem 1.25rem;
}

.question__question {
    margin: 0.625rem 0;
    font-weight: bold;
}

.level {
    font-size: 0.8em;
}

.level--beginner {
    color: darkgreen;
}

.level--medium {
    color: darkgoldenrod;
}

.level--expert {
    color: darkred;
}

.question__info {
    font-style: italic;
    font-size: 0.8em;
}

.question__choices {
    margin: 0.625rem 0;
}

.btn {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
    text-align: center;
    color: #009999;
    border: 2px solid #118888;
    background-color: #078;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.325rem 0;
    cursor: pointer;
}