/* Couleurs
bleu canard : #087E8B
blanc cassé : #FFFFFA
bleu-indigo foncé : #21295C
framboise : #CA054D
orange : #FF970F
bleu pâle : #AFD0FF

*/
body {
    background-color: rgb(196, 208, 221);
}
.jumbotron{
    background-color: #087E8B;
    margin: -1.25rem;
    margin-bottom: 0;
}
.lead{
    text-align: center;
    color: #fffffa;
    font-size: 1.2em;
}
.navbar{
    /* margin-left :-1.25rem; */
    margin: 0 -1.25rem 1rem;
    background-color: #21295C;
}
h1 {
    font-size: 3.5em;
    margin: 0.325rem 0 1rem;
    color: #fffffa;
    text-align: center;
}
h2 {
    font-size: 2.4em;
    text-align: center;
    margin: 0.325rem 0 0.625rem;
    color:#222;
}
h2 span{
    font-style: italic;
}
h3 {
    font-size: 2em;
    margin: 0.325rem 0 0.75rem;
    color: darkcyan;
}
p {
    margin: 0.625rem 0;
}
a {
    color: #ff970f;
}

a:hover{
    color: #21295C;
    text-decoration: none;
}
h6, .card-text, .answers-list, .card-body label, .question__info {
    color: #fffffa;
}

.container-fluid {
    margin: 0 auto;
    padding: 1.25rem;
}

#main-content{
    max-width: 80%;
    margin: 0 auto;
}

#intro {
    margin: 1em 0;
}

.row {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    background-color: #087E8B;
    border: none;
}

.tag{
    margin: .3em;
    padding: .3em .6em;
    background-color: #21295C;
    border-radius: 5px;
    color: white;
    font-weight: normal;
}

form {
    margin: 0 auto;
}

.col.question {
    width: calc(100% / 3 - 2.5rem);
} 
.question {
    margin: 0.625rem 1.25rem;
}

.question__question {
    margin: 0.625rem 0;
    font-weight: bold;
    color: #fffffa;
}

.correct_answer{
    font-weight: bold;
    color: lightgreen;
}

.wrong_answer{
    font-weight: bold;
    color: red;
}
.level {
    font-size: 0.8em;
    background-color: #fffffa;
    border-radius: 15px;
    padding: .3rem;
}

.level--beginner {
    color: #21295C;
}

.level--medium {
    color: #ff970f;
}

.level--expert {
    color: #CA054D;
}

.question__info {
    font-style: italic;
    font-size: 0.8em;
}

.question__choices {
    margin: 0.625rem 0;
}

.btn {
    display: block;
    margin: 0.625rem auto;
    text-align: center;
    background-color: #CA054D;
    border: 2px solid #CA054D;
    cursor: pointer;
}