/* Couleurs
bleu canard : #087E8B
blanc cassé : #FFFFFA
bleu-indigo foncé : #21295C
framboise : #CA054D
orange : #FF970F

*/
body {
    background-color: #21295C ;
}
.jumbotron{
    background-color: #FF970F;
    margin: -1.25rem;
    margin-bottom: 0;
}
.lead{
    text-align: center;
    color: #fffffa;
    font-size: 1.2em;
}
.navbar{
    /* margin-left :-1.25rem; */
    margin: 0 -1.25rem 1rem;
    background-color: #CA054D;
}
h1 {
    font-size: 3.5em;
    margin: 0.325rem 0 1rem;
    color: #fffffa;
    text-align: center;
}
h2 {
    font-size: 2.4em;
    text-align: center;
    margin: 0.325rem 0 0.625rem;
    color:#222;
}
h2 span{
    font-style: italic;
}
h3 {
    font-size: 2em;
    margin: 0.325rem 0 0.75rem;
    color: darkcyan;
}

p {
    margin: 0.625rem 0;
}

a {
    color: #ff970f;
}

a:hover{
    color: #21295C;
    text-decoration: none;
}

h6{
    color: #fffffa;
}

.container {
    /* width: 900px; */
    max-width: 85vw;
    margin: 0 auto;
    background-color: #fffffacc;
    padding: 1.25rem;
    box-shadow: 0 0 20px 10px rgba(255, 151, 15, 0.411);
    /* margin-top: 0.625rem; */
}

#intro {
    margin: 1em 0;
}

.row {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    background-color: #087E8B;
    border: none;
}

.tag{
    margin: .3em;
    padding: .3em .6em;
    background-color: #21295C;
    border-radius: 5px;
    color: white;
    font-weight: normal;
}

form {
    margin: 0 auto;
}
/* .row > .col {
    flex: 1;
} */
.col.question {
    width: calc(100% / 3 - 2.5rem);
} 
.question {
    margin: 0.625rem 1.25rem;
}

.question__question {
    margin: 0.625rem 0;
    font-weight: bold;
}

.correct_answer{
    font-weight: bold;
    color: lightgreen;
}

.wrong_answer{
    font-weight: bold;
    color: red;
}
.level {
    font-size: 0.8em;
    background-color: #fffffa;
    border-radius: 15px;
    padding: .3rem;
}

.level--beginner {
    color: #21295C;
}

.level--medium {
    color: #ff970f;
}

.level--expert {
    color: #CA054D;
}

.question__info {
    font-style: italic;
    font-size: 0.8em;
}

.question__choices {
    margin: 0.625rem 0;
}

.btn {
    /* 
    width: 100%;
    color: #009999;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.325rem 0; */
    display: block;
    margin: 0.625rem auto;
    text-align: center;
    background-color: #CA054D;
    border: 2px solid #CA054D;
    cursor: pointer;
}